<app-barra-busqueda></app-barra-busqueda>
<div class="container">
    <div class="col-md-3 col-md-offset-2 poster">
        <img src="https://image.tmdb.org/t/p/w640/tWqifoYuwLETmmasnGHO7xBjEtt.jpg" alt="Poster de la pelicula" width="250">
    </div>
    <div class="col-md-5">
        <h1>La bella y la bestia - 2009</h1>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 6.8 / 10 - <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2h 10m - <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Ingles</p>
        <h3>Sinopsis</h3>
        <p>En Londres, a finales del siglo XIX, una época en la que los magos eran los ídolos más aclamados, dos jóvenes ilusionistas
        se proponen alcanzar la fama. El sofisticado Robert Angier (Hugh Jackman) es un consumado artista, mientras que el
        tosco y purista Alfred Borden (Christian Bale) es un genio creativo, pero carece de la habilidad necesaria para ejecutar
        en público sus mágicas ideas. Al principio son compañeros y amigos que se admiran mutuamente. Sin embargo, cuando
        el mejor truco ideado por ambos fracasa, se convierten en enemigos irreconciliables: cada uno de ellos intentará
        por todos los medios superar al otro y acabar con él. Truco a truco, espectáculo a espectáculo, se va fraguando una
        feroz competición que no tiene límites.</p>
    </div> 
    <div class="col-md-12">
        <br>
        <h2>Que opina la gente</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Gabe Newell - Hace 26 dias</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Gabe Newell - Hace 26 dias</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Gabe Newell - Hace 26 dias</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
    </div>
</div>