<app-barra-busqueda></app-barra-busqueda>
<div class="container">
    <div class="col-md-3 col-md-offset-2 poster">
        <img src="https://image.tmdb.org/t/p/w640{{movie.poster_path}}" alt="{{movie.title}}" width="250">
    </div>
    <div class="col-md-5">
        <h1>{{movie.title}}</h1>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{movie.vote_average}} / 10 - <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{movie.runtime}} minutos - <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{movie.spoken_languages[0].name}}</p>
        <h3>Sinópsis</h3>
        <p>{{movie.overview}}</p>
        <hr>
        <h3>Puntua esta pelicula</h3>
        <div class="form-inline">
            <input type="number" min="1" max="10" class="form-control" #vote/>
            <button (click)="voteMovie(vote.value); vote.value='';" class="btn btn-success">¡Votar!</button>
            <br *ngIf="error===1"><br *ngIf="error===1">
            <div *ngIf="error===1" class="alert alert-warning"><strong>Debe ingresar un numero entre 1 y 10</strong></div>
        </div>

    </div>
    <div class="col-md-8 col-md-offset-2">
        <hr>
        <h2>Qué opina la gente</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 panel-group">
        <div class="alert alert-info text-center" *ngIf="reviews.total_results === 0">
            ¡Parece que nadie ha hecho un comentario sobre esta pelicula!
        </div>
        <ng-container *ngFor="let review of reviews.results | slice:0:10">
            <div class="panel panel-primary">
                <div class="panel-heading">{{review.author}}</div>
                <div class="panel-body">{{review.content}}</div>
            </div>
        </ng-container>
    </div>
</div>