
<div class="col-md-2">
  <a href="#">
    <img class="img-fluid rounded mb-3 mb-md-0 size" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" alt="">
  </a>
</div>
<div class="col-md-4">
  <div class="title">
    <h3>Mad Max</h3> <span class="score">7.2<span class="glyphicon glyphicon-star"></span></span>
    
</div>
  <p class="info">Perseguido por su turbulento pasado, Mad Max cree 
    que la mejor forma de sobrevivir es ir solo por el mundo. 
    Sin embargo, se ve arrastrado a formar parte de un grupo…</p>
  
<div>
    <a class="btn btn-default width" href="#">Más información</a>
</div>
</div>

