.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0px;
}

ul.dropdown-lr {
    width: 250px;
    padding: 20px 0px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
    .navbar-nav li a {
        line-height: 30px;
        height: 30px;
        padding-top: 0px;
}
}
