.modal-header {
    background-color: #222;
    border-color: black;
    padding: 25px 40px;
    text-align: center;
    color: white;
    border-radius: 3px 3px 0px 0px;
}
.btn-close{
    margin-right: 10px;
    margin-top: 5px;
    color: white;
}

ul.dropdown-lr {
    width: 250px;
    padding: 20px 0px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
