<app-barra-busqueda></app-barra-busqueda>
<app-carrousel></app-carrousel>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let movie of PopularMovies.results | slice:0:4; let i=index">
            <app-item-pelicula [movie]="movie"></app-item-pelicula>
        </ng-container>
    </div>
    <div class="row">
            <ng-container *ngFor="let movie of PopularMovies.results | slice:4:8; let i=index">
                <app-item-pelicula [movie]="movie"></app-item-pelicula>
            </ng-container>
        </div>
</div>


