<!--footer start from here-->



<footer class="footer">

    <div class="row">
      <div class="col-md-4 col-sm-6 ">
        <div class="logofooter"> <img src="../../assets/imgages/tmdb-logo.jpg" alt=""> </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <h6 class="heading7">THE BASICS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Acerca de TMDb</a></li>
          <li><a href="#"> Contacto</a></li>
          <li><a href="#"> Support Forums</a></li>
          <li><a href="#"> Ayuda</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6">
        <h6 class="heading7">PARTICIPA</h6>
        <ul class="footer-ul">
          <li><a href="#"> Aplicaciones de terceros</a></li>
          <li><a href="#"> Añadir nueva pelicula</a></li>
          <li><a href="#"> Añadir nueva serie</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h6 class="heading7">LEGAL</h6>
        <ul class="footer-ul">
          <li><a href="#"> Términos de Uso</a></li>
          <li><a href="#"> Política de Privacidad</a></li>
        </ul>
      </div>
    </div>

</footer>

<!--footer start from here-->
