<footer class="footer">
  <div class="container">
    <h6 class="heading7">FIND US</h6>
      <ul class="social-network social-circle">
          <li><a href="https://www.facebook.com/themoviedb" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/themoviedb" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/+TheMovieDBorgTMDb" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
      </ul>				
    
  </div>
</footer>
<div class="copyright">
      <p>© 2017 - Técnicas y Tecnologias Avanzadas de Desarrollo de Software</p>
</div>


 

