@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.footer { 
  background-color:#0c1a1e; 
  width: 100%;
	bottom:0;
	left:0;
}

.logofooter { 
  margin-bottom:10px; 
  font-size:25px; 
  color:#fff; 
  font-weight:700; 
  text-align: right; 
  padding-top: 5%; 
  padding-right: 5%;
}
.paddingtop-bottom { 
  margin-top: 10px;
}
.footer-ul { 
  list-style-type:none;  
  padding-left:0px; 
  margin-left:2px;
}

.footer-ul li { 
  line-height:29px; 
  font-size:16px;
  font-weight:500;
}

.footer-ul li a { 
  color:#a0a3a4;
  text-decoration: none;
}

.footer-ul li a:hover {
  color:#ff670f; 
  text-decoration: none;
}

 .heading7 { 
   font-size:21px; 
   font-weight:700; 
   color:#d9d6d6; 
   margin-bottom:22px;
  }
